---
layout: logginn
title: Confirmation
permalink: /confirmation/
---


  <h3 div class="fade-in text-center">Send bekreftelsesinstruksjoner på nytt?</h3>
<form class="fade-in form-signin mt-3">

      <h5><label for="inputEmail">E-post</label></h5>
      <input type="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
      </div>
      <a class="btn btn-lg btn-change-loggin mt-3 p-3 mb-3 btn-block" href="#" role="button">Send bekreftelsesinstruksjoner <br> på nytt</a>
      <!-- <button class="btn btn-lg btn-change-login p-3 mb-3 btn-block" type="submit">Logg inn</button> -->

      <a href="../index.html"><small class="text-muted">Logg inn</p></small>

      <a href="/new-password/"><small class="text-muted">Har du glemt passordet ditt?</p></small>


    </form>
