---
layout: default
title: Data chart
permalink: /data-example/
---

<nav class="navbar fixed-top navbar-toggleable-sm bg-faded d-block d-sm-none">
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>
        <a class="navbar-brand" href="#">
            Brand <i class="hidden-sm-down fa fa-star-o"></i>
        </a>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Heim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/min-profil/">Min profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/min-prosjekter/">Min prosjekter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nytt-prosjekter/">Nytt prosjekt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/min-kunder/">Min kunder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nyt-kunder/">Nytt kunde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logg ut</a>
                </li>

            </ul>
        </div>
</nav>
