---
layout: default
title: Løsninger
permalink: /losninger/
---

<div class="row">
<div class="col-12 text-center">
<h1 class="card-title mb-4">Løsninger</h1>
</div>
<div class="col-12 mx-auto mt-4">
<ul>
  {% for post in site.posts %}
    <li>
    <h5>  <a href="{{ post.url }}">{{ post.title }}</a> </h5>
    </li>
  {% endfor %}
</ul>
</div>
</div>
