---
layout: logginn
title: New password
permalink: /new-password/
---


<h3 div class="fade-in text-center">Har du glemt passordet?</h3>
<form class="fade-in form-signin mt-3">

      <h5><label for="inputEmail">E-post</label></h5>
      <input type="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
      </div>
      <a class="btn btn-lg btn-change-loggin mt-3 p-3 mb-3 btn-block" href="#" role="button">Send intrukser for <br> å tilbakestille passordet</a>
      <!-- <button class="btn btn-lg btn-change-login p-3 mb-3 btn-block" type="submit">Logg inn</button> -->

      <a href="../index.html"><small class="text-muted">Logg inn</p></small>

      <a href="/confirmation/"><small class="text-muted">Har du ikke mottatt bekreftelsesinstruksjoner?</p></small>


    </form>
