---
layout: logginn
---


<form class="fade-in form-signin mt-3">
      <h5><label for="inputEmail">E-post</label></h5>
      <input type="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
      <h5><label for="inputPassword" class="mt-3">Passord</label></h5>
      <input type="password" id="inputPassword" class="form-control" placeholder="" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" class="mt-3"> Husk meg
        </label>
      </div>
      <a class="btn btn-lg btn-change-loggin p-3 mb-4 btn-block" href="/dashboard/" role="button">Logg inn</a>
      <!-- <button class="btn btn-lg btn-change-login p-3 mb-3 btn-block" type="submit">Logg inn</button> -->

      <p><a href="/new-password/" class="loginforgot"><small>Har du glemt passordet ditt?</small></p>

      <p> <a href="/confirmation/" class="loginforgot"><small>Har du ikke mottatt bekreftelsesinstruksjoner?</small></p>
    </form>
