
  {% assign users = site.data.users  %}
  {% for user in users %}
  <h1 class="mb-3 text-center">Hei, <a href="/min-profil/"> {{user.firstname}}</a> </h1>
    {% endfor %}

<div class="card-deck">

  <div class="card md-6 text-center border-0">
<div class="card-title pt-3">
  <h2>Lanserte prosjekter</h2>
</div>

  <div class="card-body">

  <!-- <a href="/min-profil/">  {% asset bilde.png width="250" alt='user bilde'  %}</a> -->
    <canvas id="myChart" ng-init="load()" width="400" height="300"></canvas>


  </div>
  </div>




  <div class="card md-6 pt-4 pb-3 border-0">
    <div class="row pl-1 pr-1">
    <div class="col-12">
     <canvas id="pie-chart" ng-init="load()" width="600" height="400"></canvas>
      </div>
      <div class="row mx-auto">
            <div class="col mt-4">
              <a href="/ferdige-prosjekter/" class="btn btn-lg btn-block btn-outline-primary">
              <h5>Ferdige prosjekter</h5></a>
            </div>
            <div class="col mt-4">
              <a href="/paabegynte-prosjekter/" class="btn btn-lg btn-block btn-outline-danger">
                <h5>Påbegynte prosjekter</h5></a>
            </div>
      </div>
  </div>
</div>
</div>



<div class="card-deck">

  <div class="card md-6 mt-3">
  <a class="btn btn-outline-dark btn-lg btn-block" href="/mine-prosjekter/" role="button"><h3>Mine prosjekter</h3></a>
  </div>

  <div class="card md-6 mt-3">
  <a class="btn btn-outline-success btn-lg btn-block" href="/nytt-prosjekt/" role="button"><h3>Nytt prosjekt</h3></a>
  </div>
</div>

<div class="card-deck">

  <div class="card md-6 mt-3">
    <a class="btn btn-outline-dark btn-lg btn-block" href="/mine-kunder/" role="button"><h3>Mine kunder</h3></a>
  </div>

  <div class="card md-6 mt-3">
    <a class="btn btn-outline-success btn-lg btn-block" href="/ny-kunde/" role="button"><h3>Ny kunde</h3></a>
  </div>
</div>




<script>






{% assign active_projects = site.data.projects | where: "is_released", "1" %}
{% assign inactive_projects = site.data.projects | where: "is_released", "0" %}

new Chart(document.getElementById("pie-chart"), {
    type: "pie",
    data: {
      labels: ["Ferdige", "Påbegynte"],
      datasets: [{
        label: "prosjekter",
        backgroundColor: ["#286ca8", "#B30000"],
        data: [{{active_projects.size}},{{inactive_projects.size}}]
      }]
    },
    options: {
        legend: {
           display: false
        },
   }
});



var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
    type: "bar",
    data: {
        labels: ["måned", "måned", "måned", "måned", "måned"],
        datasets: [{
            label: "# prosjekter",
            data: [12, 3, 5, 2, 3],
            backgroundColor: [
                "#286ca8",
                "#286ca8",
                "#286ca8",
                "#286ca8",
                "#286ca8",
            ],

        }]
    },
    options: {
      legend: {
         display: false
      },

        scales: {
          xAxes: [{
               gridLines: {
                   display:false
               }
           }],
            yAxes: [{
              gridLines: {
                        display:false
                        },
                ticks: {
                    beginAtZero:true
                }

            }]
        }
    }
});


</script>
