

  <div class="row">
    <div class="col text-center">
  <h1 class="card-title">Mine prosjekter</h1>
  </div>
  </div>


      <div class="row d-none d-sm-block mt-4">
        <div class="col-6 mx-auto">
          <div class="search-list">
              <form>
                  <input type="search" class="form-control" placeholder="Søk etter prosjekt">
                  <button type="submit" class="btn btn-dark">
                      <i class="fa fa-search"></i>
                  </button>
              </form>
          </div>
          </div>


          <div class="col-lg-12 mt-5">
              <div class="text-center">
                  <div class="btn-group">
                      <button class="btn btn-outline-dark" id="list">
                        <i class="fas fa-list-ul"></i>  Liste
                      </button>
                      <button class="btn btn-outline-dark" id="grid">
                        <i class="fas fa-th-large"></i>  Rutenett
                      </button>
                  </div>
              </div>
          </div>
      </div>


      <div id="products">



<div class="row">
  {% assign projects = site.data.projects %}
  {% for project in projects %}
    {% cycle '', '', '' %}

            <div class="item col-md-4 mt-3">
                <div class="card border-0">
                    <div class="card-body">
                            <h4 class="card-title mt-2 mb-2 text-center">{{project.domain}}</h4>
                            <div class="row">
                                <div class="col mt-1">
                                  <a href="#" class="btn btn-outline-dark btn-block">Kontrollpanel</a>
                                 </div>
                                <div class="col mt-1">
                                 <a href="/rediger-prosjekt/" class="btn btn-outline-primary btn-block">Prosjektinformasjon</a>
                                </div>
                                <div class="col mt-1">
                                 <a href="/lansere-prosjekt/" class="btn btn-outline-info btn-block">Lansere</a>
                                </div>
                        </div>
                    </div>
                </div>
              </div>

                {% cycle '', '', '</div><div class="row">' %}
              {% endfor %}

            </div>




        </div>
