


  <div class="row">
    <div class="col text-center">
  <h1 class="card-title mt-1">Påbegynte prosjekter</h1>
  </div>
  </div>


      <div class="row d-none d-sm-block">
          <div class="col-lg-12 mt-4">
              <div class="text-center">
                  <div class="btn-group">
                      <button class="btn btn-outline-dark" id="list">
                        <i class="fas fa-list-ul"></i>   Liste
                      </button>
                      <button class="btn btn-outline-dark" id="grid">
                        <i class="fas fa-th-large"></i>  Rutenett
                      </button>
                  </div>
              </div>
          </div>
      </div>




<div id="products">


            <div class="row">
                {% assign projects = site.data.projects | where: "is_released", "0" %}
                {% for project in projects %}
                  {% cycle '', '', '' %}


              <div class="item col-md-4  mt-3">
                  <div class="card  border-0">
                      <div class="card-body">
                              <h4 class="card-title mt-2 mb-2 text-center">{{project.domain}}</h4>
                              <div class="row">
                                  <!-- change to mt-1 after adding link -->
                                  <div class="col mt-2">
                                    <a href="#" class="btn btn-outline-primary btn-block">Kontrollpanel</a>
                                  </div>
                                  <div class="col">
                                   <a href="/rediger-prosjekt/" class="btn btn-outline-info btn-block mt-2">Prosjektinformasjon</a>
                                  </div>
                                    <!-- change to mt-1 after adding link -->
                                  <div class="col mt-2">
                                   <a href="/lansere-prosjekt/" class="btn btn-outline-info btn-block">Lansere</a>
                                  </div>
                          </div>
                      </div>
                  </div>
                </div>

                  {% cycle '', '', '</div><div class="row mt-3">' %}
                {% endfor %}

              </div>




          </div>
