


<footer class="py-5">
  <hr>
  <div class="container text-center text-primary">
    <div class="row">
      <div class="col">
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
      123press &copy; {{ site.time | date: '%Y' }}.
      </div>
    </div>
    </div>
  </div>
</footer>

</html>




<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
