<div class="col-12 text-center">
<h1 class="card-title mb-4">Lansere prosjekt</h1>
</div>

<hr>
<div class="col-12 text-center">
<h3 class="mt-5 mb-5 text-secondary">*Felt må konkurreres før lansering</h3>
</div>
<hr>




<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <form class="needs-validation" novalidate="">
      <h4><label for="tittle">Tittel*</label></h4>
        <input type="text" class="form-control" id="tittle" placeholder="Tittel" label="tittel" value="" required="">
        <div class="invalid-feedback">
          Tittel is required.
        </div>
      </div>

        <div class="col-md-6 mx-auto">
          <h4><label for="domene">Domene*</label></h4>
          <input type="text" class="form-control" id="domene" placeholder="Domene" value="" required="">
          <div class="invalid-feedback">
            Domene is required.
          </div>
        </div>

        <div class="col-md-6  mt-4 mx-auto">
          <h4><label for="kontaktperson">Kontaktperson*</label></h4>
          <input type="text" class="form-control" id="kontaktperson" placeholder="Kontaktperson" value="" required="">
          <div class="invalid-feedback">
            Kontaktperson.
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <h4><label for="orgnr">Org.nr*</label></h4>
          <input type="text" class="form-control" id="orgnr" placeholder="Org.nr" value="">
          <div class="invalid-feedback">
            Org.nr.
          </div>
        </div>

        <div class="col-md-6 mt-4">
          <h4><label for="adresse">Adresse*</label></h4>
          <input type="text" class="form-control" id="adresse" placeholder="Adresse" value="" required="">
          <div class="invalid-feedback">
            Adresse
          </div>
        </div>


        <div class="col-md-6 mt-4">
                <h4><label for="telefon">Telefon*</label></h4>
                <input type="text" class="form-control" id="telefon" placeholder="Telefon" value="" required="">
                <div class="invalid-feedback">
                Telefon
                </div>
              </div>

        <div class="col-md-6 mt-4">
          <h4><label for="epost">Epost*</label></h4>
          <input type="text" class="form-control" id="epost" placeholder="Epost" value="" required="">
          <div class="invalid-feedback">
          Epost
          </div>
        </div>

        <div class="col-md-6 mt-4 mb-5 form-group">
          <h4>  <label for="comment">Kommentar:</label></h4>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>



    </form>
</div>






<div class="row border border-success pt-5 pb-5 mt-5 mb-5">

<div class="row w-75 mt-3 mx-auto">
<div class="col-7 text-right">
<h4>Klar til lansering</4>
</div>
<div class="col-5">
<label class="switch">
  <input type="checkbox" data-toggle="modal" data-target="#lansereRequest">
  <span class="slider round"></span>
</label>
</div>
</div>

</div>







<!-- Save modal -->
<div class="modal fade" id="lansereRequest" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">Forespørsel sendt</div>
    <div class="modal-footer">
      <div class="row mx-auto">
        <div class="col-12 text-center">
      <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
    </div>
  </div>
    </div>
  </div>
</div>
</div>
