
<div class="col-12 text-center">
<h1 class="card-title mb-4">Tidligere meldinger tittle</h1>
</div>



<div class="col-sm-12 col-md-10 mx-auto">
<div class="card  mx-auto mt-5 mb-5 border-success">
    <div class="card-header text-white bg-success">
      <h4>Spørsmal title</h4>
    <small class="text-right text-white">dato</small>
    </div>
    <div class="card-body">
    <div class="card-title">
    <p> <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra ligula vitae dignissim placerat. Proin consequat rhoncus ipsum eu placerat. Ut laoreet facilisis neque pharetra pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum cursus turpis, et auctor quam interdum nec? Donec dapibus arcu sit amet ligula euismod viverra. Mauris rhoncus lectus leo, vel semper nunc auctor eget? Sed iaculis, orci ac interdum ornare, ex nibh mattis odio, nec consequat dolor massa vitae risus?</strong> </p>
    </div>

    <hr>

     <div class="card-text border-primary">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra ligula vitae dignissim placerat. Proin consequat rhoncus ipsum eu placerat. Ut laoreet facilisis neque pharetra pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum cursus turpis, et auctor quam interdum nec. Donec dapibus arcu sit amet ligula euismod viverra. Mauris rhoncus lectus leo, vel semper nunc auctor eget. Sed iaculis, orci ac interdum ornare, ex nibh mattis odio, nec consequat dolor massa vitae risus. </p>

      <p>  Integer ultrices, urna at vehicula rutrum, ligula ligula eleifend ante, sed varius nisi magna ut nulla. Aenean dapibus turpis eu iaculis fringilla. Cras tristique hendrerit ipsum eget suscipit. Vivamus vel risus egestas, hendrerit nisi quis, sodales nisl. Etiam convallis est non laoreet pretium. Quisque rutrum, urna at sagittis fermentum, ex nisl aliquet justo, ut finibus ante mi ac leo. Donec dui turpis, tincidunt et facilisis id, fringilla sed enim. Mauris at lacus non leo gravida facilisis. Suspendisse velit quam, finibus vel rutrum ut, tempor sed magna. Aliquam ornare dolor metus, ut ullamcorper magna porttitor et. In hac habitasse platea dictumst. Nulla at ipsum et odio ornare faucibus et vel mi.</p>

      <p>  Nam vel massa nec nibh mollis volutpat at ac dui. Nulla molestie congue nisl vitae eleifend. Nam a egestas neque. Donec rhoncus tellus non est luctus, in bibendum massa iaculis. Morbi venenatis leo vitae nunc pharetra, ac fringilla tortor varius. Mauris eget augue magna. Maecenas ac nulla commodo, pulvinar justo at, condimentum libero. Proin ullamcorper est quis magna dignissim euismod. Aliquam commodo diam nibh, sit amet malesuada nisi imperdiet vitae. In hac habitasse platea dictumst. Vestibulum eget blandit sapien. </p>
      </div>
      </div>
</div>


<div class="col-4 text-center mx-auto">
  <a href="/support/" class="btn btn-outline-info btn-block"><h4 class="pt-2">Tilbake support</h4></a>
</div>
