
<nav class="navbar fixed-top navbar-toggleable-sm bg-faded d-block d-lg-none">
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <div class="row">
            <div class="col d-inline">
            <span> </span>
            <span> </span>
            <span> </span>
            </div>
            <div class="col d-inline">
            <div class="mobile-meny">Meny</div>
            </div>
          </div>
        </button>



      <!--  <a class="navbar-brand" style="color:#FFF" href="/dashboard/">
            123press <i class="hidden-sm-down fa fa-star-o"></i>
        </a>-->



        <div class="collapse navbar-collapse" id="collapsingNavbar">

          <div class="row">
        <div class="col-3 mx-auto">
          <a href="/dashboard/">
         {% asset 123press_logo_kvit.svg  width="100" height="100"  alt="123press logo"  %}
         </a>
        </div>
          </div>



            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/">Hjem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/min-profil/">Min profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mine-prosjekter/">Mine prosjekter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nytt-prosjekt/">Nytt prosjekt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mine-kunder/">Mine kunder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ny-kunde/">Ny kunde</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/losninger/">Løsninger</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/support/">Support</a>
                </li>
                <li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logg ut</a>
                </li>

            </ul>
        </div>
</nav>
