<div class="row">

      <div class="col-12 text-center">
    <h1 class="card-title mb-4">Nytt prosjekt</h1>
    </div>


        <div class="col-md-10  mx-auto">
          <form class="needs-validation" novalidate="">
            <div class="row mt-5 mb-4">
              <div class="col-md-6">
              <h4><label for="tittle">Tittel*</label></h4>
                <input type="text" class="form-control" id="tittle" placeholder="Tittel" label="tittel" value="" required="">
                <div class="invalid-feedback">
                  Tittel is required.
                </div>

              </div>
              <div class="col-md-6">
                <h4><label for="domene">Domene</label></h4>
                <input type="text" class="form-control" id="domene" placeholder="Domene" value="" required="">
                <div class="invalid-feedback">
                  Domene is required.
                </div>
              </div>
            </div>

        <h4 class="mb-3">Pakke*</h4>
        <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="" data-com.agilebits.onepassword.user-edited="yes">
                    <label class="custom-control-label" for="credit">Basis</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" data-com.agilebits.onepassword.user-edited="yes">
                    <label class="custom-control-label" for="debit">Standard</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="" data-com.agilebits.onepassword.user-edited="yes">
                    <label class="custom-control-label" for="paypal">Premium</label>
                  </div>
                </div>


      <div class="row mb-4">



        <div class="col-md-6">
            <div class="form-group mt-2">
                <h4><label for="form_need">Kunde*</label></h4>
                <select id="form_need" name="need" class="form-control" required="required">
                    <option value="">Velg kunde</option>
                    <option value="Request quotation">Kunde 1</option>
                    <option value="Request order status">Kunde 2</option>
                    <option value="Request copy of an invoice">Kunde 3</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>




                <div class="col-md-6 mt-5">
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Legg til ny kunde</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                          </div>
                          <div class="modal-body">
                            {% include nyttkunder-form.html %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                          </div>
                        </div>

                      </div>
                    </div>
                    </div>
      </div>


      <div class="col-12">
        <p class="text-muted text-center">
            <strong>*</strong> Obligatoriske felt.
           </p>
      </div>


<div class="col-12 text-center">

  <!-- Button trigger delete modal -->
  <a href="#" class="btn btn-outline-warning center-block mr-3" data-toggle="modal" data-target="#avbrytModalCenter">Avbryt</a>
  <!-- Delete modal -->
  <div class="modal fade" id="avbrytModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aybrytModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">Vende hjem?
</div>
        <div class="modal-footer">
          <div class="row mx-auto">
            <div class="col-12 text-center">
              <a class="btn btn-outline-warning" href="/dashboard/" role="button">tilbake til forside</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Button trigger save modal -->
    <a href="/rediger-prosjekt/" class="btn btn-outline-success center-block ml-3" data-toggle="modal" data-target="#lagreModalCenter">Legg til prosjekt</a>
  </div>



  <!-- Save modal -->
  <div class="modal fade" id="lagreModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
        Prosjekt er lagt til
        </div>
        <div class="modal-footer">
          <div class="row mx-auto">
            <div class="col-12 text-center">
          <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>







          </form>
        </div>


     </div>
