<div class="row">


  <div class="col-12 text-center">
<h1 class="card-title mb-4">Oppdater profil</h1>
</div>

<div class="col-md-10 mx-auto">


          <form class="needs-validation" novalidate="">

            <div class="row mt-5 mb-4">

              <div class="col-md-6">
              <h4><label for="fornavn">Fornavn*</label></h4>
                <input type="text" class="form-control" id="fornavn" placeholder="Fornavn" label="Fornavn" value="" required="">
                <div class="invalid-feedback">
                  Fornavn er required.
                </div>

              </div>
              <div class="col-md-6">
                <h4><label for="kontaktperson">Etternavn*</label></h4>
                <input type="text" class="form-control" id="kontaktperson" placeholder="Etternavn" value="" required="">
                <div class="invalid-feedback">
                  Etternavn er required.
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="e-post">E-post*</label></h4>
                <input type="email" class="form-control" id="e-post" placeholder="E-post" value="">
                <div class="invalid-feedback">
                  E-post er required.
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="mobilr">Mobil*</label></h4>
                <input type="tel" maxlength="8" class="form-control" id="mobilr" placeholder="Mobil" value="">
                <div class="invalid-feedback">
                  Mobil er required.
                </div>
              </div>

  </div>

<div class="col-12 text-center mt-5">

  <!-- Button trigger delete modal -->
  <a href="#" class="btn btn-outline-warning center-block mr-3" data-toggle="modal" data-target="#avbrytModalCenter">Avbryt</a>
  <!-- Delete modal -->
  <div class="modal fade" id="avbrytModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="aybrytModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">Vende hjem?
</div>
        <div class="modal-footer">
          <div class="row mx-auto">
            <div class="col-12 text-center">
              <a class="btn btn-outline-warning" href="/dashboard/" role="button">tilbake til forside</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Button trigger save modal -->
    <a href="/rediger-prosjekt/" class="btn btn-outline-success center-block ml-3" data-toggle="modal" data-target="#lagreModalCenter">Oppdater profil</a>
  </div>



  <!-- Save modal -->
  <div class="modal fade" id="lagreModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
        Profilen er oppdatert
        </div>
        <div class="modal-footer">
          <div class="row mx-auto">
            <div class="col-12 text-center">
          <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>























          </form>


     </div>
</div>
