

 <div class="row">

      <div class="col-12 text-center">
    <h1 class="card-title mb-4">Oppdater Kunde</h1>
    </div>


        <div class="col-md-10 mx-auto">

          <form class="needs-validation" novalidate="">


            <div class="row mt-5 mb-4">

              <div class="col-md-6">
              <h4><label for="title">Tittel*</label></h4>
                <input type="text" class="form-control" id="tittel" placeholder="Title" label="Tittel" value="title" required="">
                <div class="invalid-feedback">
                  Tittel is required.
                </div>

              </div>
              <div class="col-md-6">
                <h4><label for="kontaktperson">Kontaktperson*</label></h4>
                <input type="text" class="form-control" id="kontaktperson" placeholder="Kontaktperson" value="" required="">
                <div class="invalid-feedback">
                  Kontaktperson.
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="orgnr">Org.nr</label></h4>
                <input type="text" class="form-control" id="orgnr" placeholder="Org.nr" value="">
                <div class="invalid-feedback">
                  Org.nr.
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="adresse">Adresse*</label></h4>
                <input type="text" class="form-control" id="adresse" placeholder="Adresse" value="" required="">
                <div class="invalid-feedback">
                  Adresse
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="postnr">Postnr*</label></h4>
                <input type="text" class="form-control" id="postnr" placeholder="Postnr" value="" required="">
                <div class="invalid-feedback">
                Postnr
                </div>
              </div>
              <div class="col-md-6 mt-4">
                <h4><label for="sted">Sted*</label></h4>
                <input type="text" class="form-control" id="sted" placeholder="Sted" value="" required="">
                <div class="invalid-feedback">
                Sted
                </div>
              </div>



            <div class="col-md-6  mt-4">
                  <div class="form-group mt-2">
                      <h4><label for="form_need">Land</label></h4>
                      <select id="form_need" name="need" class="form-control" required="required">
                          <option value="">Lande</option>
                          <option value="Request quotation">Norge</option>
                          <option value="Request order status">Danmark</option>
                          <option value="Request copy of an invoice">Sverige</option>
                      </select>
                      <div class="help-block with-errors"></div>
                  </div>
              </div>



                  <div class="col-md-6 mt-4">
                    <h4><label for="telefon">Telefon*</label></h4>
                    <input type="text" class="form-control" id="telefon" placeholder="Telefon" value="" required="">
                    <div class="invalid-feedback">
                    Telefon
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <h4><label for="epost">Epost*</label></h4>
                    <input type="text" class="form-control" id="epost" placeholder="Epost" value="" required="">
                    <div class="invalid-feedback">
                    Epost
                    </div>
                  </div>

                  <div class="col-md-6 mt-4 form-group">
                    <h4>  <label for="comment">Kommentar:</label></h4>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div>
            </div>



            <div class="col-12">
              <p class="text-muted text-center">
                  <strong>*</strong> Obligatoriske felt.
                 </p>
            </div>



<div class="text-center">




  <!-- Button trigger delete modal -->
  <a href="#" class="btn btn-outline-warning center-block mr-3" data-toggle="modal" data-target="#deleteModalCenter">Avbryt</a>
  <!-- Delete modal -->
  <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">Vende heim?
</div>
        <div class="modal-footer">
          <div class="row mx-auto">
            <div class="col-12 text-center">
              <a class="btn btn-outline-warning" href="/dashboard/" role="button">tilbake til forside</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Button trigger save modal -->



  <a href="/rediger-prosjekt/" class="btn btn-outline-success center-block ml-3" data-toggle="modal" data-target="#saveModalCenter">Oppdater kunde</a>
</div>



<!-- Save modal -->
<div class="modal fade" id="saveModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">Oppdater kunde</div>
      <div class="modal-footer">
        <div class="row mx-auto">
          <div class="col-12 text-center">
        <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>






          </form>
        </div>


     </div>
