

<div class="row">
  <div class="col text-center">
<h1 class="card-title mb-4">Min profil</h1>
</div>
</div>


<div class="col-sm-12 col-md-8 mx-auto">
<div class="card border-0">

  <!--<h1 class="card-header text-primary bg-white text-center border-info">Min profil</h1> -->

  <div class="card-title mb-3 mx-auto">
  {% asset bilde.png width="250" height="250" alt='user bilde'  %}
</div>



<div class="table-responsive">
    {% assign users = site.data.users  %}
    {% for user in users %}
    <table class="table">
  <tbody>
    <tr>
      <th scope="row"><span class="user">2FA:</span></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"><span class="user">ID:</span></th>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">Fornavn:</span></th>
      <td>{{user.firstname}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">Etternavn: </span></th>
      <td>{{user.lastname}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">E-post:</span> </th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">Mobil:</span></th>
      <td>{{user.mobile}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">Rolle:</span></th>
      <td>{{user.role}}</td>
    </tr>
    <tr>
      <th scope="row"><span class="user">Selskap:</span></th>
      <td>{{user.title}}</td>
    </tr>
  </tbody>
</table>
    {% endfor %}
  </div>
   <div class="card-footer bg-transparent border-info text-center mt-3">
      <a href="/oppdater-profil/" class="btn btn-outline-info mt-3">Oppdater profil</a>
  </div>
</div>
</div>
