
  <div class="col-md-8 mx-auto">

    <div class="row">
      <div class="col text-center">
    <h1 class="card-title">Prosjektinformasjon</h1>
    </div>
    </div>


<div class="row pt-5">

    <div class="col-md-6">
    <h4><label for="tittle">Tittel*</label></h4>
      <input type="text" class="form-control" id="tittle" placeholder="tittle" label="tittel" value="" required="">
      <div class="invalid-feedback">
        Tittel is required.
      </div>

    </div>
    <div class="col-md-6">
      <h4><label for="domene">Domene*</label></h4>
      <input type="text" class="form-control" id="domene" placeholder="Domene" value="" required="">
      <div class="invalid-feedback">
        Domene is required.
      </div>
    </div>


  <div class="col-md-12 mt-5">
    <h4 class="mb-3">Pakke*</h4>
    <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="" data-com.agilebits.onepassword.user-edited="yes">
                <label class="custom-control-label" for="credit">Basis</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" data-com.agilebits.onepassword.user-edited="yes">
                <label class="custom-control-label" for="debit">Standard</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="" data-com.agilebits.onepassword.user-edited="yes">
                <label class="custom-control-label" for="paypal">Premium</label>
              </div>
            </div>
    </div>


  <div class="col-md-6 mt-5">
    <h4><label for="kontaktperson">Kontaktperson*</label></h4>
    <input type="text" class="form-control" id="kontaktperson" placeholder="Kontaktperson" value="" required="">
    <div class="invalid-feedback">
      Kontaktperson.
    </div>
  </div>


  <div class="col-md-6 mt-5">
    <h4><label for="orgnr">Org.nr*</label></h4>
    <input type="text" class="form-control" id="orgnr" placeholder="Org.nr" value="" required="">
    <div class="invalid-feedback">
      Org.nr.
    </div>
  </div>




</div>

<div class="col-12">
  <p class="text-muted text-center">
      <strong>*</strong> Obligatoriske felt.
     </p>
</div>

<div class="col-12 text-center">

  <!-- Button trigger delete modal -->
  <a href="#" class="btn btn-outline-danger float-left" data-toggle="modal" data-target="#deleteModalCenter">Slett prosjekt</a>
  <!-- Delete modal -->
  <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLongTitle"><i class="fas fa-exclamation-triangle" style="color:#B30000"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Er du sikker på at du vil slette proyekt?
        </div>
        <div class="modal-footer">
          <div class="row w-100">
            <div class="col-6">
          <button type="button" class="btn btn-outline-warning float-left" data-dismiss="modal">Arbryt</button>
            </div>
            <div class="col-6">
          <button type="button" class="btn btn-outline-danger float-right pr-4 pl-4 mr-4" data-dismiss="modal">Ja</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- Button trigger save modal -->
  <a href="/rediger-prosjekt/" class="btn btn-outline-success float-right" data-toggle="modal" data-target="#saveModalCenter"> Oppdater prosjekt
</a>
</div>
<!-- Save modal -->
<div class="modal fade" id="saveModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
      Prosjektinformasjon er oppdater
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Lukk</button>
        <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
      </div>
    </div>
  </div>
</div>


</div>
