

           <div class="searching mb-3 d-none d-lg-block">
               <center style="margin-top: -2.1rem; float:left; margin-left: 9rem;">
                    <a href="javascript:void(0)" class="search-open">
                    <h6><i class="fa fa-search fa-lg mr-2"></i>Søk</h6>
                </a>
                 </center>



                <div class="search-inline">
                    <form>
                        <input type="search" class="form-control" placeholder="Søk">
                        <button type="submit" class="btn btn-dark">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="javascript:void(0)" class="search-close">
                            <i class="fa fa-times"></i>
                        </a>
                    </form>
                </div>

            </div>


            <script>
                 var sp = document.querySelector('.search-open');
            var searchbar = document.querySelector('.search-inline');
            var shclose = document.querySelector('.search-close');
            function changeClass() {
                searchbar.classList.add('search-visible');
            }
            function closesearch() {
                searchbar.classList.remove('search-visible');
            }
            sp.addEventListener('click', changeClass);
            shclose.addEventListener('click', closesearch);

            </script>
