

    <div id="wrapper">

    <!--  menu showing  <div id="wrapper"  class="toggled" > -->

        <!-- Sidebar -->
        <div id="sidebar-wrapper"  role="navigation">

              <a href="/dashboard/" class="row sidebar-nav mt-5 mx-auto d-none d-lg-block">
          {% asset 123press_logo_kvit.svg  width="150" height="150"  alt="123press logo"  %}
          </a>



            <ul class="row sidebar-nav mt-5 mx-auto d-none d-lg-block">
              <li>
                  <a href="/dashboard/">Hjem</a>
              </li>
                <li>
                    <a href="/min-profil/">Min profil</a>
                </li>
                <li>
                    <a href="/mine-prosjekter/">Mine prosjekter</a>
                </li>
                <li>
                   <a href="/nytt-prosjekt/">Nytt prosjekt</a>
                </li>
                <li>
                  <a href="/mine-kunder/">Mine kunder</a>
                </li>
                <li>
                 <a href="/ny-kunde/">Ny kunde</a>
                </li>
                <li>
                <a href="/losninger/">Løsninger</a>
                </li>
                <li>
                <a href="/support/">Support</a>
                </li>
                <li>
                <a href="#">Logg ut</a>
                </li>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        <div class="row mb-5 d-none d-lg-block">
          <div class="col-md-4">
           <a href="#menu-toggle" id="menu-toggle" class="mt-3 ml-4">
             <div id="nav-icon0">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <h6 class="font-weight-bold ml-5">meny</h6>

          </div>
          </a>
    </div>
</div>
        {% include search.html %}




        <script src="https://unpkg.com/vanilla-back-to-top@7.1.14/dist/vanilla-back-to-top.min.js"></script>
        <script>addBackToTop({
          diameter: 56,
          backgroundColor: '#286ca8',
          textColor: '#fff'
        })</script>
