
 <div class="row">

  <div class="col-12 text-center">
<h1 class="card-title mb-4">Ny melding</h1>
</div>

<div class="col-md-10 mx-auto">




  <form id="contact-form" method="post" action="contact.php" role="form">
      <div class="messages"></div>
          <div class="controls">


<div class="row mt-5 mb-4">

            <div class="col-md-6">
                <div class="form-group">
                      <h4><label for="form_name">Fornavn*</label></h4>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Fornavn" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h4>  <label for="form_lastname">Etternavn*</label></h4>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Etternavn" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>


            <div class="col-md-6 mt-2">
                <div class="form-group">
                      <h4><label for="form_email">E-post*</label></h4>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="E-post" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mt-2">
                    <h4><label for="form_need">Emne*</label></h4>
                    <select id="form_need" name="need" class="form-control" required="required" data-error="Emne">
                        <option value=""></option>
                        <option value="Request quotation">Salg</option>
                        <option value="Request order status">Fakturering</option>
                        <option value="Request copy of an invoice">Brukerstøtte</option>
                        <option value="Other">Annen</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>


            <div class="col-md-8 mx-auto mt-2">

              <div class="form-group">
                  <h4>  <label for="form_lastname">Tittel*</label></h4>
                  <input id="sporsmaltitle" type="text" name="sporsmaltitle" class="form-control" placeholder="Tittel" required="required" data-error="Spørsmal is required.">
                  <div class="help-block with-errors"></div>
              </div>


                <div class="form-group">
                    <h4><label for="form_message">Melding*</label></h4>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Budskap" rows="4" required="required"
                    data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>



      <div class="col-12">
        <p class="text-muted text-center">
            <strong>*</strong> Obligatoriske felt.
           </p>
      </div>




  <div class="col-12 text-center">

    <!-- Button trigger delete modal -->
    <a href="#" class="btn btn-outline-warning center-block mr-3" data-toggle="modal" data-target="#avbrytModalCenter">Avbryt</a>
    <!-- Delete modal -->
    <div class="modal fade" id="avbrytModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">Vende heim?
  </div>
          <div class="modal-footer">
            <div class="row mx-auto">
              <div class="col-12 text-center">
                <a class="btn btn-outline-warning" href="/dashboard/" role="button">tilbake til forside</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Button trigger save modal -->
      <a href="/rediger-prosjekt/" class="btn btn-outline-success center-block ml-3" data-toggle="modal" data-target="#lagreModalCenter">Sende</a>
    </div>



    <!-- Save modal -->
    <div class="modal fade" id="lagreModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="lagreLongTitle"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            Melding sendt!
          </div>
          <div class="modal-footer">
            <div class="row mx-auto">
              <div class="col-12 text-center">
            <a class="btn btn-outline-primary" href="/dashboard/" role="button">tilbake til forside</a>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>


      </div>

    </div>

  </form>

    </div>

      </div>
