
<div class="col-12 text-center">
<h1 class="card-title mb-4">Support</h1>
</div>


<hr>
    <div class="col-md-3 mx-auto mt-5 mb-5">
      <a href="/ny-melding/" class="btn btn-outline-success btn-block"><h4 class="pt-2">Ny melding</h4></a>
    </div>
<hr>


    <div class="col-12 text-center mt-5 mb-4">
    <h4 class="card-title">Tidligere meldinger</h4>
    </div>

    <ul class="list-group list-group-flush mx-auto">
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Cras justo odio</h5> </a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Dapibus ac facilisis in</h5> </a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Morbi leo risus</h5></a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Porta ac consectetur ac</h5> </a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Vestibulum at eros</h5></a>
       <small class="text-muted">dato</small>
     </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Cras justo odio</h5> </a>
      <small class="text-muted text-align-right">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Dapibus ac facilisis in</h5> </a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Morbi leo risus</h5> </a>
      <small class="text-muted">dato</small>
    </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Porta ac consectetur ac</h5></a>
       <small class="text-muted">dato</small>
     </li>
    <li class="list-group-item"><a href="/support/tidligere-meldinger/">
      <h5>Vestibulum at eros</h5></a>
       <small class="text-muted">dato</small>
     </li>
    </ul>


    <nav aria-label="Gammel billet">
      <ul class="pagination justify-content-center mt-5">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
