.item.grid-group-item{

}


.item.list-group-item
{
    float: none;
    margin-bottom: 0.3rem;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
    display: inline-block;
    align-items: left;
}

.list-group-item * .card-title
{
    width: 50%;
    display: inline-block;
    float: left;

}





.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
