
/* Icon 0 */

 #nav-icon0 {
  width: 35px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .50s ease-in-out;
  -moz-transition: .50s ease-in-out;
  -o-transition: .50s ease-in-out;
  transition: .50s ease-in-out;
  cursor: pointer;
}





#nav-icon0 span {
  display: block;
  position: absolute;
  height:3px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .50s ease-in-out;
  -moz-transition: .50s ease-in-out;
  -o-transition: .50s ease-in-out;
  transition: .50s ease-in-out;
}

#nav-icon0 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon0 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon0 span:nth-child(1), #nav-icon0 span:nth-child(2) {
  top: -1px;
}

#nav-icon0 span:nth-child(3), #nav-icon0 span:nth-child(4) {
  top: 9px;
}

#nav-icon0 span:nth-child(5), #nav-icon0 span:nth-child(6) {
  top: 19px;
}

#nav-icon0.open span:nth-child(1),#nav-icon0.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon0.open span:nth-child(2),#nav-icon0.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon0.open span:nth-child(1) {
  left: 4px;
  top: 5px;
}

#nav-icon0.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 5px;
}

#nav-icon0.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon0.open span:nth-child(5) {
  left: 4px;
  top: 14px;
}

#nav-icon0.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 14px;
}
