


.mobile-meny{
color: #FFF;
font-size: 1.4rem;
margin-top: 0.25rem;
margin-left: -1rem;
}


.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar {
    background: #fff;
    background-color: #286ca8;
    opacity: 1;
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 0;
}

.navbar-nav .nav-link {
    margin-right: 2rem;
}

a.nav-link {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #286ca8;
  color: #FFF;
  font-size: 1rem;
  margin: 0.5rem 0 0 1.5rem;
}

a.nav-link:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: #fff;
}

.navbar-toggler span {
   display: block;
   background-color: #FFF;
   height: 3px;
   width: 25px;
   margin-top: 5px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 15px;
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 15px;
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
