$primary:  #286ca8;
$secondary: #FF6138;
$warning: #8D0B9E;
$danger: #B30000;
$success: #176325;
$dark: #000;
$info: #0C626E;
$body-bg: #f9faf9;
$font-family-sans-serif: 'Raleway', sans-serif !important;








//$info: #7f7f7f; // grey

//$btn-primary: #286ca8;
//$btn-hover-primary-bg: #ff0000;

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white
