
        /* search start  */


.searching{
  position: fixed;
  z-index: 1000;
}

        .search-inline {
            width:100%;
            left: 13rem;
            padding-left: 15px;
            padding-right: 15px;
            top: 0;
            height: 10%;
            position: relative;
            float: left;
            opacity: 0;
            visibility: hidden;
            background-color: #FFF;
            z-index: 9;
            transition: all .5s ease-in-out;
            border-style: solid;
            border-width: 1px;
            border-color: #333;
            border-radius: .25rem;
            margin-top: -2.7rem;
            float:left;
            margin-left: 0.2rem;

        }

        .search-inline.search-visible {
            opacity: 1;
            visibility: visible;
            animation: fadeInDown 0.4s ease-in-out;
            margin-top: -2.7rem;
            float:left;
            margin-left: 0.5rem;
        }

        .search-inline button[type="submit"] {
            position: absolute;
            right: 52px;
            top: 0;
            border: 0px;
            top: 0;
            right: 80px;
            padding: 0px;
            cursor: pointer;
            width: 80px;
            height: 100%;
            border-radius: 0;
        }

        .search-inline .form-control {
            border: 0px;
            padding-left: 0;
          
            position: relative;
            top: 0;
            height: 38px;
            width: 75%;

            outline: none;
        }

        .search-inline .search-close {
            position: absolute;
            top: 0.6rem;
            right: 0;
            color: #616161;
            width: 80px;
            height: 70%;
            text-align: center;
            display: table;
            background: #FFF;
            text-decoration: none;
        }

        .search-inline .search-close i {
            display: table-cell;
            vertical-align: middle;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #efefef;
            border-radius: .25rem;
            transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
        }

        @keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -20%, 0);
            }
            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }


        .search-list {
            width:100%;
            display: inline-block;
            border: 1px solid black;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.05rem;
        }

        .search-list button[type="submit"] {
            position: absolute;
            top: 0;
            border: 0px;
            top: 0;
            right: 1%;
            padding: 0px;
            cursor: pointer;
            width: 80px;
            height: 100%;
            border-radius: 0;
        }
