---
---

@import 'css/custom/_variables.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'css/custom/header';
@import 'css/custom/pagination';
@import 'css/custom/sidebar';
@import 'css/custom/mobile-menu';
@import 'css/custom/search';
@import 'css/custom/toggle';
@import 'css/custom/grid-list';
@import 'css/custom/menu-transformation';
@import 'css/custom/btn-animation';
@import 'css/custom/logginn';




body {
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  color: #333333;
}


* {
  border-radius: 0 !important;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

h3, h5{
  margin-bottom: 0rem !important;
}

h6, .h6 {
    font-size: 1.1rem;
}

h6, a.h6:hover {
color:black;
}


img {
    width: 100%;
    height: 100%;
}

a{
  color:black;
  letter-spacing: 0.02rem;
}

a:hover{
  color:#286ca8;
  text-decoration: none;
}

li a{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
}

.loginforgot{
  color:#4C4E52;
}



.jumbotron {
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: 0.3rem;
}
/*.card, .card-deck {
    border: none;
}*/

.user{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.table {
    width: 70%;
    margin: 0px auto;
    float: none;
}

#back-to-top:hover{
  background-color:#B30000;
}


.col-3 {
  max-width: none;
}

.post{
}

.btn{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}



.btn-outline-dark {
    border-color: rgba(0,0,0,0.5) !important;
}

.btn-outline-success {
      border-color: rgba(32, 97, 40,0.6) !important;
}

.btn-outline-primary {
    border-color: rgba(44, 110, 166,0.6) !important;
}

.btn-outline-danger {
    border-color: rgba(159, 9, 13,0.6) !important;
}


.btn-outline-info {
    border-color: rgba(23, 98, 109,0.6) !important;
}


@media (max-width: 768px) {
  .container {
      margin-top: 4rem !important;
  }
  .btn{

    font-size: 1rem;
  }

 }



/* Chart example */

.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
    fill: #286ca8;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
    fill: #B30000;
}
