<!doctype html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mt-5 mb-5" src="../img/123press_svart.png" alt="" width="300" height="300">  
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="E-post" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Passord" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Husk meg
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Logg inn
</button>
    </form>
  </body>
</html>
