

  {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include mobile-menu.html %}
    <div class="container">
          <h1 class="text-center mb-5"> {{ page.title }} </h1>
      <div class="row">
        <div class="col-sm-12 col-md-10 mx-auto">
    {{ content }}
      </div>
    </div>
    </div>
  </body>
    {% include footer.html %}
